<%= render "shared/menu" %>

<div class="home row">
  <section class="col-lg-9 col-md-8 col-sm-7 description">
    <header>
        <p>
          <%= image_tag "project-management.png", :class => "myTrelloImg img-responsive" %>
          <span>My Trello</span>
        </p>
        <p class="subtitle">Outil de management de projets</p>
    </header>

    <article class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-lg-6 col-md-6 col-sm-6">
        <p>
          My Trello est un outil permettant de manager ses projets.</br>
          Il est constitué :
        </p>
        <ul>
          <li>De <b>boards</b> présentatifs de projet (Ex: un board pour My Trello)</li>
          <li>De <b>colonnes</b> représentant un état du projet (Finie, En cours, A faire etc...)</li>
          <li>De <b>tickets</b> presentant des tâches à accomplir</li>
        </ul>
    </article>
  </section>

  <aside class="col-lg-3 col-md-4 col-sm-5 profile">
    <header>
      <div class="avatar">
        <%= image_tag "batman.png", :class => "avatarImg img-responsive" %>
      </div>

      <div class="name">
        <p>
          Phil Da Silva<br/>
          <span class="dev">Développeur Web</span>
        </p>
      </div>
    </header>

    <article>
      <p class="about">
        I'm a passionated web developper !<br/>
        I created this website with Ruby On Rails !<br/>
      </p>

      <p class="favTechnos">
        <span>My fav' technos : </span>

        <a href="https://symfony.com" target="_blank" title="Symfony"><%= image_tag "symfony.png", :class => "techImg img-responsive" %></a>
        <a href="https://rubyonrails.org" target="_blank" title="Ruby On Rails"><%= image_tag "ror.jpg", :class => "techImg img-responsive" %></a>
        <a href="https://angularjs.org" target="_blank" title="Angular JS"><%= image_tag "angularjs.png", :class => "techImg img-responsive" %></a>
        <a href="https://www.meteor.com" target="_blank" title="Meteor"><%= image_tag "meteor.jpg", :class => "techImg img-responsive" %></a>
      </p>

      <p class="socialNetworks">
        <a href="#"><i class="fa fa-facebook-square"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>
        <a href="#"><i class="fa fa-twitter-square"></i></a>
        <a href="#"><i class="fa fa-linkedin-square"></i></a>
        <a href="#"><i class="fa fa-pinterest-square"></i></a>
      </p>
    </article>
  </aside>
</div>
