<p id="notice"><%= notice %></p>

<%= render "shared/menu" %>

<div class="boardsIndex">
  <p class="title">My Boards</p>

  <div class="boards row">
    <% @boards.each do |board| %>
      <a href="/boards/<%= board.id %>" class="col-lg-4">
        <section class="board">
          <header>
            <%= image_tag "#{board.image}", :class => "boardImg img-responsive" %>
            <p><%= board.title %></p>
          </header>

          <article>
            <p class="title"><%= board.title %></p>
            <p><%= board.description %></p>
          </article>
        </section>
      </a>
    <% end %>

    <a class="col-lg-4">
      <section class="board">
        <header>
          <i class="fa fa-plus"></i>
        </header>

        <article>
          <p><i class="fa fa-plus"></i></p>
        </article>
      </section>
    </a>
  </div>
</div>


<!-- <table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @boards.each do |board| %>
      <tr>
        <td><%= board.title %></td>
        <td><%= board.description %></td>
        <td><%= link_to 'Show', board %></td>
        <td><%= link_to 'Edit', edit_board_path(board) %></td>
        <td><%= link_to 'Destroy', board, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<br>

<%= link_to 'New Board', new_board_path %>
