<%= render "shared/menu" %>

<p id="notice"><%= notice %></p>

<div class="boardsIndex">
  <p class="title">My Boards</p>

  <div class="boards row">
    <% @boards.each do |board| %>
      <a href="/boards/<%= board.id %>" class="col-lg-4 col-md-4 col-sm-6">
        <section class="board">
          <header>
            <%= image_tag "#{board.image}", :class => "boardImg img-responsive" %>
            <p><%= board.title %></p>
          </header>

          <article>
            <p class="title"><%= board.title %></p>
            <p><%= board.description %></p>
          </article>
        </section>
      </a>
    <% end %>

    <a href="/boards/new" class="col-lg-4 col-md-4 col-sm-6">
      <section class="board">
        <header>
          <i class="fa fa-plus"></i>
        </header>

        <article>
          <p><i class="fa fa-plus"></i></p>
        </article>
      </section>
    </a>
  </div>
</div>
