<%= render "shared/menu" %>

<p id="notice"><%= notice %></p>

<div class="boardPage">
  <div class="return">
    <a href="/boards">
      <i class="fa fa-arrow-left"></i>
      Back to boards
    </a>
  </div>

  <div class="title">
    <%= image_tag "#{@board.image}", :class => "boardImg img-responsive" %>
    <p><%= @board.title %></p>
  </div>

  <div class="description">
    <p>
      <i class="fa fa-arrow-circle-right"></i>
      <%= @board.description %>
      <%= link_to "<i class='fa fa-pencil'></i>".html_safe, edit_board_path(@board), :class => "editBtn" %>
      <%= link_to "<i class='fa fa-trash'></i>".html_safe, @board, method: :delete, data: { confirm: 'Are you sure?' }, :class => "deleteBtn" %>
    </p>
  </div>

  <div class="addColumn">
    <%= form_tag("/column/add", method: "post", class: "form-inline addColumnForm") do %>
      <div class="form-group">
        <%= label_tag(:title, "Nom de la colonne:") %>
        <%= text_field_tag(:title, '', class:"form-control titleInput") %>
      </div>
      <%= hidden_field_tag(:board_id, @board.id) %>
      <%= submit_tag("Ajouter", class:"btn btn-default submitInput") %>
    <% end %>
  </div>

  <div class="columns">
    <% @columns.each do |column| %>
      <div class="column">
        <header class="col-lg-12 col-md-12 col-sm-12">
          <p class="col-lg-8 col-md-8 col-sm-8 title">
            <%= column.title %>
          </p>

          <p class="col-lg-4 col-md-4 col-sm-4 actions">
            <%= link_to "<i class='fa fa-pencil'></i>".html_safe, edit_column_path(column), :class => "editBtn" %>
            <%= link_to "<i class='fa fa-trash'></i>".html_safe, column, method: :delete, data: { confirm: 'Are you sure?' }, :class => "deleteBtn" %>
          </p>
        </header>

        <section class="col-lg-12 col-md-12 col-sm-12">
          <div class="addTicket">
            <button class="btn btn-default addTicketBtn">Ajouter un ticket</button>

            <%= form_tag("/ticket/add", method: "post", class: "addTicketForm") do %>
              <div class="form-group">
                <%= text_field_tag(:title, '', class:"form-control titleInput", placeholder:"Titre du ticket") %>
              </div>
              <div class="form-group">
                <%= text_area_tag(:description, '', class:"form-control descriptionInput", placeholder:"Description du ticket") %>
              </div>
              <%= hidden_field_tag(:column_id, column.id) %>
              <%= submit_tag("Créer", class:"btn btn-default submitInput") %>
            <% end %>
          </div>

          <div class="tickets">
            <!-- TODO: Join column and ticket tables to display tickets of each column -->
            <!-- <% tickets.each do |ticket| %>
              
            <% end %> -->
        </section>
      </div>
    <% end %>
  </div>
</div>
